.logoin-reg-box {
  position: absolute;
  width: 400px;
  height: 310px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0 30px;
  box-sizing: border-box;
}
/* == 表单头部 == */
.title-box {
  height: 60px;
  background: url("../images/login_title.png") no-repeat center;
}

/* === 登录 == */
.reg-box {
  display: none;
}

/* ==登录右移 */
.links {
  display: flex;
  justify-content: flex-end;
}

/* == 小图标 == */

.layui-form-item {
  position: relative;
}
.layui-form-item i {
  position: absolute;
  left: 10px;
  top: 10px;
}

.layui-input {
  padding-left: 35px;
}
